<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
	  <meta name="viewport" content ="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'ho_logo1_web.png' %>
    <title>Homer's Odyssey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container" class="clearfix">
      
      <%= yield %>

      <footer>
        <h6>&copy; <a href="http://glynnwebsolutions.com">GlynnWebSolutions.com</a> 2016</h6>
      </footer>
    </div> <!-- end container -->

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXuEOhkMuUqffRJKNWfTQiQx_pP7Brw9s">
    </script>

  </body>
</html>
